body {
    background-color: #242328 !important;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    }
    .main-login-div{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 708px;
        height: 740px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #18181A;
        background-color: #18181A;
        color: white;
        padding: 40px 0px;
    }
    .login-para {
        font-family: Poppins;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;
    
    }
    .login-description {
        font-family: Poppins;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 30.72px;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        max-width: 410px;
        width: 100%;
    }
    .form-main-div {
        display: flex;
        justify-content: center;
    }
    .forget-password-para {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* color: #FFCB04; */
        text-align: right;
        margin-top: 10px;
    }
    .forget-password-para  a {
        color: #FFCB04;
        text-decoration: none;
    }
    .form-lables {
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .form-inputs {
        border-radius: 10px;
        background-color: #242328;
        border: none;
        height: 52px;
        background: none;
        width: 100%;
        padding-left: 52px;
        /* padding: 6px;
        margin-left: 6px; */
        color: white;
    }
    .form-inputs:focus {
        border: none;
        outline: none;
    }
    .form-inputs::placeholder {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #878787;
    }
    .form-btn {
        height: 52px;
        background-color: #FFCB04;
        font-family:Poppins;
        color: #2E2E2E;
        font-weight: 600;
        font-size: 16px; 
        line-height: 24px;
        border-radius: 10px;
        border: none;
        max-width: 410px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .emial-icon-and-input-container {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        background: #303030;
        margin-bottom: 20px;
    }
    .password-icon-and-input-container {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        background: #303030;
    }
    
    .password-closed-eye {
        cursor: pointer;
        position: absolute;
        right: 15px;
    }
    .password-icon {
        position: absolute;
        left: 15px;
    }
    .email-phone-icon {
        padding-left: 22px;
        padding-right: 12px;
        width: 24px;
        height: 24px;
    }
    .logo-image {
        display: flex;
        justify-content: center;
    }
    .form-btn-div {
        display: flex;
        justify-content: center;
    }
    
    /* .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        display: none;
    }
    
    .error-border {
        border: 2px solid red !important;
    } */
    .back-arrow-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #242328;
        width: 40px;
        height: 40px;
        /* border: none; */
    }
    .back-arrow-anchor {
        position: absolute;
        top: 30px;
        left: 30px;
    }





    


