<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered main-modal-dialog-contianer">
      <div class="modal-content main-modal-content">
        <div class="modal-body main-modal-body">
            <div class="modal-content-container">
                <p class="modal-heading">Reset Password Successfully</p>
                <p class="modal-description">Your password has been updated successfully! You can now log in with your new password.</p>
            </div>
            
        </div>
        <div class="modal-footer dismiss-btn-container">
          <button onclick="window.location.href = '/'" type="button" class="dismiss-btn">Dismiss</button>
        </div>
      </div>
    </div>
</div>