{% load static %}
<!-- start of code for pagination -->
 <div class="d-flex justify-content-end parent-container-for-pagination">
    <div class="pagination-container">
        <div class=" d-flex justify-content-between pagination-content-contaier">
            <div><span class="text-decoration-underline">Back</span></div>
            <div class="d-flex justify-content-around align-items-center counting-number-container">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>...</span>
            </div>
            <div><span class="text-decoration-underline">Next</span></div>
        </div>
     </div>
 </div> 
 <!-- end of code for pagination -->