{% extends "layouts/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machines</title>
    {% block links %}
    <link rel="stylesheet" href="{% static 'css/machines.css' %}">
    {% endblock %}
</head>
<body>
   
    {% block content %}
        <div class="heading-container">
            <div class="heading-content"><span>Machines</span></div>
            <div><button>Add Machine</button></div>
        </div>
        <div class="grid-container">
           <!-- start of code for card -->
          
            <!-- end of code for card -->
        </div>
        {% include 'components/pagination.html' %}
    {% endblock %}
    
</body>
{% block scripts %}
<script src="{% static 'scripts/pagination.js' %}"></script>
<script src="{% static 'scripts/machine.js' %}"></script>
{% endblock %}
</html>