{% extends "layouts/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plans</title>
    {% block links %}
    <link rel="stylesheet" href="{% static 'css/plans.css' %}">
    {% endblock %}

    

    
</head>
<body>
    
    {% block content %}
    <div class="heading-container">
        <div class="heading-content"><span>Plans</span></div>
        <div><button>Add Fitness Goal</button></div>
    </div>
    <div class="grid-container">
       <!-- start of code of card -->
       
        <!-- end of code of card -->
    </div>
    {% include 'components/pagination.html' %}

     {% endblock %}
        

    
</body>
{% block scripts %}
<script src="{% static 'scripts/pagination.js' %}"></script>
<script src="{% static 'scripts/plans.js' %}"></script>
{% endblock %}


</html>